body{
  background-color: rgb(193, 207, 203);
}
.price{
  color: rgb(213, 156, 111);;
}
.menu{
  width: 70%;
  margin: auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.abc{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    color:rgb(95, 96, 58);
    cursor: pointer;
}
.rate{
  display: flex;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px dotted black;
}
.menu-item{
  padding: 10px;
}
/* h1{
  text-decoration-line: underline;
  text-decoration-style:solid;
  text-decoration-color: red;
} */
h1 {
  position: relative;
}

h1:after {
  content: '';
  position: absolute;
  width: 30%;
  display: block;
  left: 30px;
  height: 5px;
  background-color: red;
  bottom: -5px;
}
.desc{
  width: 70%;
 font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}